# configuration file for Zephyros
# '# ' number sign + blank space at the beginning of a line means a comment and these lines are skipped
# comments can also be put in parentheses: (comment)
# the parsing module can not read booleans => use integers with 0 = .false. and any other number is true

section general
subsection overall
version_number       0.4    ( version number of the tool that corresponds to this configuration file)

section simulation
subsection scattererfield
psd									0		(counter from 0 ... max 100)
psd_distribution_type				1		(0 = discrete, 1 = gamma-distribution)
psd_particle_type					2		(1 = spherical droplet, 2 = speroid droplet)
psd_vec_x							1  	0.
psd_vec_y							1  	0.
psd_vec_z							5  	0.   .5e3   1.e3    1.5e3    2.e3
psd_vec_t							1  	0.
#ungridded psd is used to make a discrtete pdf
psd_n_diameters						20
psd_gammadistribution_mu			5.
psd_gammadistribution_D0_mm			1.
psd_gammadistribution_dmin_mm		0.01
psd_gammadistribution_dmax_mm		8.5
#
#
# Rough estimates for mu, D0 and lwc profiles from figures in Unal (2015)
#
#
#gridded psd is used to rescale the number densities.
psd_grid_gammadistribution_mu		5   3.   4.   5.     5.   0.
psd_grid_gammadistribution_D0_mm	5   .8   1.   .8     .6   .6

#gridded lwc is used to rescale the lwc
psd_grid_lwc_gm3					5   .01   .01   .05	   .03   .02	(gridded liquid water content in g per m3. Number density will be rescaled accordingly)	
