# configuration file for Zephyros
# '# ' number sign + blank space at the beginning of a line means a comment and these lines are skipped
# comments can also be put in parentheses: (comment)
# the parsing module can not read booleans => use integers with 0 = .false. and any other number is true

section general
subsection overall
version_number       0.4    ( version number of the tool that corresponds to this configuration file)

section general
subsection instrument
type						0				(0  = radar)
transmit_power_watt			36
k_nonuniformity				1.
power_gain					1.
lr_receiver_loss_factor		1.
central_frequency_hz		3.298e9
prf_hz						2000
temperature_K				300				(determines noise level when applied)
